<%= form_with(model: descriptor, url: descriptor_path(descriptor)) do |form| %>
  <div class="form-group mb-0">
    <%= form.color_field  :color,
                          class: 'form-control form-control-sm py-0 px-1',
                          onchange: "this.form.submit();" %>
  </div>
<% end %>